/* DARK MODE */

$raisin-black: hsla(224, 14%, 15%, 1);
$platinum: hsla(0, 0%, 91%, 1);
$gunmetal: hsla(222, 14%, 19%, 1);
$sea-green-crayola: hsla(169, 88%, 55%, 1);
$light-coral-1: hsla(0, 82%, 71%, 1);


/* LIGHT MODE */

$cultured: hsla(0, 0%, 98%, 1);
$cultured-2: hsla(0, 0%, 95%, 1);
$magic-mint: hsla(169, 88%, 77%, 1);
$light-coral: hsla(0, 73%, 76%, 1);

/* DETAULTS */

$white: hsla(0, 0, 100%, 1);
$black: rgb(0, 0, 0);